.about-card {
  box-shadow: -2px 2px 32px 0 #0000000a;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 2rem;

  & .header {
    border-bottom: var(--border);
    padding: 1rem;
    & h4 {
      color: var(--primary-color);
    }
  }
  & .content {
    padding: 1rem;

    & .expand {
        text-align: center;
      & div {
        color: var(--primary-color);
        cursor: pointer;
        & svg{
            color: var(--primary-color);  
        }
      }
    }
  }
}
