.amenities-card {
  box-shadow: -2px 2px 32px 0 #0000000a;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 2rem;

  & .header {
    border-bottom: var(--border);
    padding: 1rem;
    & h4 {
      color: var(--primary-color);
    }
  }
  & .content {
    padding: 1rem;
    & .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 1rem;
      & .item {
        width: 20%;

        & svg {
          margin-right: 4px;
        }
      }
    }
    & .expand {
      text-align: center;
      margin-top: 1rem;
      & div {
        color: var(--primary-color);
        cursor: pointer;
        & svg {
          color: var(--primary-color);
        }
      }
    }
  }
}
