.seller-listings {
  & .seller-data {
    & .listings-container {
      width: 70%;
      margin: 20px auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .seller-listings {
    & .listings-container {
      width: 90% !important;
    }
  }
}
