.search-box {
  & .input-wrapper {
    display: flex;
    background-color: var(--white);
    height: 2.5rem;
    flex-direction: row;
    border: var(--inputborder);
    border-radius: 6px;
    align-items: center;
    background-color: #fff;
    & input {
      border: 0;
      background-color: transparent;
    }

    & .ant-btn {
      height: 1.5rem;
      padding: 6px;
      margin-right: 10px;
      background-color: var(--primary-color);
      border-radius: 4px;
      display: flex;
      align-items: center;
      outline: 0;
      border: 0;
      justify-content: center;
      & span {
        color: #fff;
        font-size: 0.8rem;
      }
    }
  }
  & .search-container {
    overflow: hidden;
    font-variant: initial;
    background-color: #ffffff;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    & .search-item {
      min-height: 32px;
      padding: 5px 12px;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 4px;
      & h4 {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5714285714285714;
        line-height: 1.5714285714285714;
        color: rgba(0, 0, 0, 0.88);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    & .search-item:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  & .search-container::-webkit-scrollbar {
    width: 3px;
  }
  & .search-container::-webkit-scrollbar-track {
    background-color: #f2f3f8;
  }

  & .search-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
  }
  & .empty-container {
    border-radius: 8px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    & div {
      text-align: center;
      padding: 10px;
      color: var(--secondary-color);
      font-size: 1rem;
    }
  }
}
