.custom-button {
  border: var(--border);
  border-radius: 6px;
  padding: 10px 8px;
  outline: 0;
  background-color: var(--white);

  &.active-second {
    border: var(--secondary-border);
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
  }
  &.active-first {
    border: var(--primary-border);
    color: var(--primary-color);
    background-color: var(--primary-background-color);
  }
}
